body {
    margin: 0;
    background: rgb(21, 21, 21);
    width: 100%;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.container { 
    
    padding: 10px 0px;
    font-family: "Montserrat", sans-serif;
    background: black;
    width: 100%;
    }
    
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
}

.container a {
    color: white;
    padding: 10px 45px;
    text-decoration: none;
    
    
    }
    


.container a:hover {
    background-color: whitesmoke;
    color: black;
    border-radius: 20px;
    }


.container #homee:hover {
    background-color:white   ;
    color: black;
    transition: background-color 0.2s ease;
    border-radius: 15px;
}

li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}




#homee {
    background: rgb(31, 36, 86);
    font-size: 25px;
    padding: 15 px;
    border-radius: 10px;
}

.vid1{
    position: relative;
    width: 100%;
}

.vid1 .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 55px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    background-color: rgb(31, 36, 86);
    color: white;
    font-weight: bold;
    opacity: 90%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.vid1 .btn:hover{
    background-color: white   ;
    color: black;
    transition: background-color 0.1s ease;
    border-radius: 15px;
}

.vid1 .vallog{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
}

.abval {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 252, 240);
    padding: 150px;
    
}

.abval img{
    height: 450px;
    width: 48%;
    
}
.abval h1{
    margin: 0;
    color: black;
    font-size: 50px;
}

.abval p{
    margin-top: 3%;
    font-size: 22px;
    margin-right: 25%;
    
}

.abval .learnvalo{
    padding: 40px;
    text-align: center;
    margin-left: -12%;
    margin-top: 2%;
    margin-right: 60%;
}

.abval .learnvalo a{
    background: rgb(31, 36, 86);
    color: white;
    text-decoration: white;
    padding: 30px;
    
    
    
}

.abval .learnvalo a:hover{
    background-color: black;
    color: white;
    transition: background-color 1s ease;
    padding: 30px;
    
}

.agentsval {
    background-color: rgb(254, 72, 86);
    margin: 0px;
    padding: 150px;

}
